<button type="submit" class="btn btn-primary btn-sm">Apply</button>
<button type="button" class="btn btn-default btn-sm" onclick="$('#formFilter input[id=filter_cmd]').val('clear'); document.getElementById('formFilter').reset(); document.getElementById('formFilter').submit(); return false;">Clear</button>
