- field = filter.fields[name]
- formtype = field.formtype.to_s
- name ||= field.name.to_s
- v = filter.v(name)



- if formtype=='empty'

- else
  - tpl = 'simple_search_filter/fields_simple_form/'+formtype.to_s

  = render tpl, f: f, filter: filter, field: field, name: name
