- field = filter.fields[name]
- formtype = field.formtype.to_s
- name ||= field.name.to_s
- v = filter.v(name)


- tpl = 'simple_search_filter/fields/'+formtype.to_s

= render tpl, filter: filter, field: field



