%h1 Demo


Demos:
%ul
  %li=link_to 'Basic', basic_demo_path
  %li=link_to 'Products', products_path
  %li=link_to 'Orders', orders_path
  -#%li=link_to 'Clients and Orders - NOT WORK', clients_orders_demo_path

