- filter.fields.each do |name, field|
  -#= render :partial=>'simple_filter/filter_field', :locals => {:f=>field, :name=>name}
  = render :partial=>'simple_filter/field_simple_form', :locals => {name: name, f: f, filter: filter}

