- opt_base = {as: :boolean, required: false, placeholder: field.placeholder}
- opts = field.options.merge(opt_base)
- opts[:input_html] ||={}
- opts[:input_html][:checked] = v

= f.input field.name, opts
