- opt_base = {as: :string, required: false, label: field.label, placeholder: field.placeholder}
- opts = field.options.merge(opt_base)
- opts[:input_html] ||={}
- opts[:input_html][:value] = v

= f.input field.name, opts
